<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Vetty Task</title>
</head>

<body>
    <br>

    <div class="container">
        {% if secondnum|int() > firstnum|int() %}  <!-- this line checks if the end line number is grater than start line number and then return appropriate response -->
            <h1>Reading : {{filename}}</h1>
            {% if linenumber%}
                <h2>From line : {{firstnum}} to {{secondnum}}</h2>
            {%else%}
                <h2>From line : all lines</h2>
            {% endif %}
            <hr>
            {% for line in lines %}
                <p>{{line}}</p> <!-- line represents ebery line-->
            {% endfor%}
        {%else%}
            <h2>NOTE: 2nd Number cant be Greater than 1st Number</h2>
        {% endif%}

    </div>

</body>

</html>